/***************************
****************************
Basic style Schema for Website
More to be added later
****************************
***************************/

body {
  background-color:#9C9C9C;
}

input[type=text] {
    background-color: #ffffff;
}

#button {
    text-align:center;
    background-color: #79B2F2;
    border: none;
    color: white;
    padding: 15px 45px;
    text-decoration: none;
    display:inline-block;
    font-size: 14px;
}

#logtext {
  color: #ffffff;
}

label {
  display: inline-block;
  float: center;
  clear:left;
  width: 200px;
  text-align: left;
  color: #ffffff;
}
