/***************************
****************************
Basic style Schema for Website
More to be added later
****************************
***************************/

body {
  background-color:#6699CC;
}
input[type=text] {
    background-color: #3CBC8D;
    color: white;
}
